body {
    background-color: black;
    color: white;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #3f3f3f;
}

/*1.AUTH PAGE-------------------------------------------------------------------*/

.visualizer-video {
    filter: brightness(20%); 
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.auth-div {
    width: 20%;
    height: 20%;
    text-align: center;
    color: white;
}

.div-abs-center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*2.PLAYLISTS PAGE--------------------------------------------------------------*/

.choose-playlist-label {
    margin: 10px;
}

.playlists-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.playlist-element {
    padding: 3px;
    border: 3px solid transparent;
    border-radius: 5px;
}

.playlist-checkbox {
    pointer-events: none;
    position: absolute;
    background-color: white;
    vertical-align: middle;
    cursor: pointer;
}

.playlist-checkbox:checked {
    background-color: green;
}

.playlist-thumbnail {
    border-radius: 5px;
}

.playlist-info {
    margin-top: 5px;
}

.btn-success {
    background-color: green;
    border-radius: 0;
}

.get-songs-btn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    margin-top: 50px;
}

/*3.SONGS PAGE------------------------------------------------------------------*/

.songs-content {
    display: flex;
}

.song-pool-col, .song-top-col  {
    margin: 5px;
    width: 50%;
}

.song-pool-content-parent, .song-top-content-parent {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
    height: 90vh;
    overflow-y: scroll;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, 
    rgb(0, 0, 0) 0.540302px 0.841471px 0px, 
    rgb(0, 0, 0) -0.416147px 0.909297px 0px, 
    rgb(0, 0, 0) -0.989992px 0.14112px 0px, 
    rgb(0, 0, 0) -0.653644px -0.756802px 0px, 
    rgb(0, 0, 0) 0.283662px -0.958924px 0px, 
    rgb(0, 0, 0) 0.96017px -0.279416px 0px;
}

.song-pool-content-parent::-webkit-scrollbar, .song-top-content-parent::-webkit-scrollbar { 
    width: 5px;
}

.song-cell {
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    
}

.song-cell::before {
    filter: brightness(90%);
}

.song-top-cell, .song-pool-cell {
    background: #3f3f3f;
    font-weight: 500;
    box-shadow: none;
    color: white;
}

.song-pool-content-parent .song-cell {
    float: left;
    width: 200px;
    height: 200px;
}

.song-top-content-parent .song-cell {
    width: 100%;
    height: 80px;
    background-size: 100%;
}

/*3.1.SONG CELL-----------------------------------------------------------------*/

.song-title {
    font-weight: 800;
    font-size: 14pt;
    margin-top: 100px;
    -webkit-text-stroke: 0.1px black;
    white-space: pre;
    overflow: hidden;
}

.song-pool-content-parent .song-cell {
    float: left;
    width: 200px;
    height: 200px;
}

.song-pool-content-parent .song-cell .song-title {
    width: 100%;
    text-align: left;
}

.song-pool-content-parent .btn-close {
    float: right;
    top: 0;
    opacity: unset;
}

.song-pool-content-parent .song-source {
    display: none;
} 

.song-top-content-parent .btn-close {
    display: none;
}

.song-top-content-parent .song-cell .song-title {
    width: 80%;
    text-align: left;
    display: inline-block;
    margin-top: 0;
    padding-left: 2px;
}

.song-top-content-parent .song-cell {
    height: 80px;
    background-size: 100%;
}

.song-top-content-parent .song-source {
    width: 19%;
    text-align: right;
    vertical-align: top;
}